.listing {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.answer {
    width: 100%;
    border-radius: 15px;
    margin: 40px 0;
    overflow: hidden;
}

.listing .comment {
    white-space: pre-wrap;
    font-family: monospace;
}

.listing .email {
    font-weight: 700;
    background-color: rgb(127, 180, 56);
    color: #fff;
    padding: 20px;
}

.listing .details {
    padding: 20px;
    border: 2px solid #eee;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.listing button {
    background-color: rgb(127, 180, 56);
    border-radius: 30px;
    height: 60px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: solid 1px #FFF;
    cursor: pointer;
    padding: 6px 18px;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 100%;
}